$colorPrimary: rgb(4, 114, 177);

@mixin centrar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicios {
  width: 100vw;
  height: 800px;
  @include centrar(); // centra con display flex
  flex-direction: column;
  @media (max-width:997px) {
      margin-top: 40px;
    height: 1400px;
    justify-content: normal;
    
  }
}

.subtitulo {
  font-weight: bold;
  color: $colorPrimary;
  font-size: 42px;

  &:hover {
    text-decoration: underline rgba(131, 131, 131, 0.521);
  }
}
.subtitulo {
  margin-top: -20px;
  @media (max-width: 375px) {
    margin: auto;
  }
}

.contenedor {
  width: 100%;
  height: 800px;
  margin-top: 50px;
  @include centrar(); // centra con display flex
  flex-direction: row;
  justify-content: space-evenly !important;
  flex-wrap: wrap;

  // background-color: salmon;
}

.card {
  padding: 50px;
  border-radius: 8px;

  p {
    font-size: 24px;
  }
}

.optica {
  width: 380px;
  height: 90%;
  background-color: rgb(230, 230, 230);
  border-radius: 8px;
  padding-top: 10px;
  @include centrar();
  align-items: normal;
  box-shadow: 0 0 10px 2px rgb(172, 171, 171);
  
  position: relative;

  img {
    height: 90%;
    object-fit: contain;
  }
}


.iconos{
    position: absolute;
    // background-color: salmon;
    width: 100%;
    height: 40px;
    bottom: 10px;
    display: flex;
    gap: 15px;
    left: 20px;
}