@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400..700;1,400..700&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: 'Brygada 1918', sans-serif; 
    font-weight: 400;
    font-style: italic;    
}

